openapi: 3.2.0
info:
  title: Momence Public Host API
  description: ''
  version: '2.0'
  contact: {}
servers:
- url: https://api.momence.com
  description: Production API
security:
- OAuth2: []
  OAuth2ApiClient: []
tags:
- name: Host
paths:
  /api/v2/host/appointments/reservations:
    get:
      operationId: ApiV2HostAppointmentsController_getHostAppointmentReservations
      summary: Get all appointment reservations
      parameters:
      - name: page
        required: true
        in: query
        description: Starts at 0
        schema:
          minimum: 0
          example: 0
          type: integer
      - name: pageSize
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 200
          example: 10
          type: integer
      - name: sortOrder
        required: false
        in: query
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - name: sortBy
        required: false
        in: query
        description: Field to sort by
        schema:
          enum:
          - startsAt
          type: string
      - name: startAfter
        required: false
        in: query
        schema:
          type: string
      - name: startBefore
        required: false
        in: query
        schema:
          type: string
      - name: endAfter
        required: false
        in: query
        schema:
          type: string
      - name: endBefore
        required: false
        in: query
        schema:
          type: string
      - name: includeCancelled
        required: false
        in: query
        schema:
          type: boolean
      - name: includeCancelledAttendees
        required: false
        in: query
        schema:
          type: boolean
      - name: isPaid
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponseDto'
                - required:
                  - payload
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/ApiV2HostAppointmentReservationDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/{memberId}/appointments:
    get:
      operationId: ApiV2HostMembersAppointmentsController_getAppointmentReservations
      summary: Get appointments by a specific member
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      - name: page
        required: true
        in: query
        description: Starts at 0
        schema:
          minimum: 0
          example: 0
          type: integer
      - name: pageSize
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 200
          example: 10
          type: integer
      - name: sortOrder
        required: false
        in: query
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - name: sortBy
        required: false
        in: query
        description: Field to sort by
        schema:
          enum:
          - startsAt
          type: string
      - name: startAfter
        required: false
        in: query
        schema:
          type: string
      - name: startBefore
        required: false
        in: query
        schema:
          type: string
      - name: endAfter
        required: false
        in: query
        schema:
          type: string
      - name: endBefore
        required: false
        in: query
        schema:
          type: string
      - name: includeCancelled
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponseDto'
                - required:
                  - payload
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/HostMemberAppointmentReservationDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/{memberId}/bought-memberships/active:
    get:
      operationId: ApiV2HostMembersBoughtMembershipsController_list
      summary: Get all active subscriptions and packs of a specific member
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      - name: page
        required: true
        in: query
        description: Starts at 0
        schema:
          minimum: 0
          example: 0
          type: integer
      - name: pageSize
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 200
          example: 10
          type: integer
      - name: includeFrozen
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponseDto'
                - required:
                  - payload
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/ApiV2HostBoughtMembershipsDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/{memberId}/bought-memberships/{boughtMembershipId}/credits:
    put:
      operationId: ApiV2HostMembersBoughtMembershipsController_updateClassCredits
      summary: Update credits of package-events or package-money bought membership for a…
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      - name: boughtMembershipId
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiV2HostMemberBoughtMembershipsUpdateClassCreditsRequestDto'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2HostMemberBoughtMembershipsUpdateClassCreditsResponseDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/{memberId}/bought-memberships/{boughtMembershipId}/membership-freeze:
    put:
      operationId: ApiV2HostMembersBoughtMembershipsController_freezeMembership
      summary: Freeze bought membership immediately or schedule freeze/unfreeze
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      - name: boughtMembershipId
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiV2BoughtMembershipFreezeRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/{memberId}/bought-memberships/{boughtMembershipId}/membership-schedule-freeze:
    put:
      operationId: ApiV2HostMembersBoughtMembershipsController_scheduleMembershipFreeze
      summary: Schedule bought membership freeze
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      - name: boughtMembershipId
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiV2BoughtMembershipScheduleFreezeRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
    delete:
      operationId: ApiV2HostMembersBoughtMembershipsController_removeMembershipFreeze
      summary: Unfreeze bought membership or remove scheduled freeze
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      - name: boughtMembershipId
        required: true
        in: path
        schema:
          type: number
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/{memberId}/bought-memberships/{boughtMembershipId}/membership-schedule-unfreeze:
    put:
      operationId: ApiV2HostMembersBoughtMembershipsController_scheduleMembershipUnfreeze
      summary: Schedule bought membership unfreeze
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      - name: boughtMembershipId
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiV2BoughtMembershipScheduleUnfreezeRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
    delete:
      operationId: ApiV2HostMembersBoughtMembershipsController_removeMembershipUnfreeze
      summary: Remove bought membership scheduled unfreeze
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      - name: boughtMembershipId
        required: true
        in: path
        schema:
          type: number
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members:
    get:
      operationId: ApiV2HostMembersController_list
      summary: Get members
      parameters:
      - name: page
        required: true
        in: query
        description: Starts at 0
        schema:
          minimum: 0
          example: 0
          type: integer
      - name: pageSize
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 100
          example: 10
          type: integer
      - name: sortOrder
        required: false
        in: query
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - name: sortBy
        required: false
        in: query
        description: Field to sort by
        schema:
          enum:
          - lastSeenAt
          - firstSeenAt
          - firstName
          - lastName
          - email
          type: string
      - name: query
        required: false
        in: query
        description: Search customers by query
        schema:
          type: string
      - name: filterPreset
        required: false
        in: query
        schema:
          enum:
          - with-active-membership
          type: string
      - name: staticSegmentId
        required: false
        in: query
        description: Filter customers by static segment ID
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponseDto'
                - required:
                  - payload
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/HostMemberDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
    post:
      operationId: ApiV2HostMembersController_create
      summary: Add member
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiV2HostMemberCreateRequestDto'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2HostMemberCreateResponseDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/list:
    post:
      operationId: ApiV2HostMembersController_listPost
      summary: Get members (with filters)
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiV2HostMembersListRequestWithFilterDto'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponseDto'
                - required:
                  - payload
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/HostMemberDto'
          description: ''
        '201':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/{memberId}:
    get:
      operationId: ApiV2HostMembersController_get
      summary: Get member
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostMemberDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/{memberId}/name:
    put:
      operationId: ApiV2HostMembersController_updateName
      summary: Update member name
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostMemberUpdateNameRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/{memberId}/phone-number:
    put:
      operationId: ApiV2HostMembersController_updatePhoneNumber
      summary: Update member phone number
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostMemberUpdatePhoneNumberRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
    delete:
      operationId: ApiV2HostMembersController_deleteMemberPhoneNumber
      summary: Delete all phone number records for a member
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/{memberId}/email:
    put:
      operationId: ApiV2HostMembersController_updateEmail
      summary: Update member e-mail
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostMemberUpdateEmailRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/memberships:
    get:
      operationId: ApiV2HostMembershipsController_list
      summary: Get available host memberships
      parameters:
      - name: page
        required: true
        in: query
        description: Starts at 0
        schema:
          minimum: 0
          example: 0
          type: integer
      - name: pageSize
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 200
          example: 10
          type: integer
      - name: sortOrder
        required: false
        in: query
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - name: sortBy
        required: false
        in: query
        description: Field to sort by
        schema:
          enum:
          - name
          - orderNumber
          type: string
      - name: includeDisabled
        required: false
        in: query
        schema:
          type: boolean
      - name: onlyFeatured
        required: false
        in: query
        schema:
          type: boolean
      - name: compatibleWithSessionId
        required: false
        in: query
        schema:
          type: integer
      - name: compatibleWithAppointmentId
        required: false
        in: query
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponseDto'
                - required:
                  - payload
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/ApiV2HostMembershipDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/{memberId}/notes:
    get:
      operationId: ApiV2HostMembersNotesController_list
      summary: Get notes for a specific member
      parameters:
      - name: page
        required: true
        in: query
        description: Starts at 0
        schema:
          minimum: 0
          example: 0
          type: integer
      - name: pageSize
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 100
          example: 10
          type: integer
      - name: sortOrder
        required: false
        in: query
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - name: sortBy
        required: false
        in: query
        description: Field to sort by
        schema:
          enum:
          - createdAt
          - modifiedAt
          type: string
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponseDto'
                - required:
                  - payload
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/HostMemberNoteDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/{memberId}/sessions:
    get:
      operationId: ApiV2HostMembersSessionBookingsController_list
      summary: Get session bookings by a specific member
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      - name: page
        required: true
        in: query
        description: Starts at 0
        schema:
          minimum: 0
          example: 0
          type: integer
      - name: pageSize
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 100
          example: 10
          type: integer
      - name: sortOrder
        required: false
        in: query
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - name: sortBy
        required: false
        in: query
        description: Field to sort by
        schema:
          enum:
          - startsAt
          type: string
      - name: startAfter
        required: false
        in: query
        schema:
          type: string
      - name: startBefore
        required: false
        in: query
        schema:
          type: string
      - name: endAfter
        required: false
        in: query
        schema:
          type: string
      - name: endBefore
        required: false
        in: query
        schema:
          type: string
      - name: includeCancelled
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponseDto'
                - required:
                  - payload
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/HostMemberSessionBookingDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/members/{memberId}/tags/{tagId}:
    post:
      operationId: ApiV2HostMemberTagsController_assign
      summary: Assign a tag to a member
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      - name: tagId
        required: true
        in: path
        schema:
          type: number
      responses:
        '201':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
    delete:
      operationId: ApiV2HostMemberTagsController_unassign
      summary: Unassign a tag from a member
      parameters:
      - name: memberId
        required: true
        in: path
        schema:
          type: number
      - name: tagId
        required: true
        in: path
        schema:
          type: number
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/sales:
    get:
      operationId: ApiV2HostSalesController_list
      summary: Get sales
      description: '**Note:** This is an experimental feature, please contact support if you want to utilize this endpoint.


        This endpoint returns a list of host sales.

        The default sorting mode is DESC (newest sales first), but you can also specify ASC (oldest sales first).

        For session and appointment sales, additional meta data is returned in the response.'
      parameters:
      - name: page
        required: true
        in: query
        description: Starts at 0
        schema:
          minimum: 0
          example: 0
          type: integer
      - name: pageSize
        required: true
        in: query
        schema:
          minimum: 1
          example: 10
          type: integer
      - name: sortOrder
        required: false
        in: query
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - name: sortBy
        required: false
        in: query
        description: Field to sort by
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponseDto'
                - required:
                  - payload
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/HostSaleDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/session-bookings/{bookingId}/check-in:
    post:
      operationId: ApiV2HostSessionBookingCheckInController_addSessionBookingCheckIn
      summary: Mark session booking as checked-in
      parameters:
      - name: bookingId
        required: true
        in: path
        schema:
          type: number
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
    delete:
      operationId: ApiV2HostSessionBookingCheckInController_removeSessionBookingCheckIn
      summary: Mark session booking as not checked-in
      parameters:
      - name: bookingId
        required: true
        in: path
        schema:
          type: number
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/session-bookings/{bookingId}:
    delete:
      operationId: ApiV2HostSessionBookingController_cancelSessionBooking
      summary: Cancel session booking
      description: 'Cancel a single session booking identified by its ID.

        **Tip:** You can find the ID within the *ApiV2HostSessionBookingDto* object (`id` field) returned from the session booking list endpoint.

        **Note:** This endpoint does not cancel or impact any recurring bookings. There is a separate endpoint for canceling those.'
      parameters:
      - name: bookingId
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostSessionBookingCancelRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/session-recurring-bookings/{bookingId}:
    delete:
      operationId: ApiV2HostSessionRecurringBookingController_cancelRecurringSessionBooking
      summary: Cancel recurring session booking
      description: 'Cancel recurring session booking identified by its ID and related session bookings.

        **Tip:** You can find the ID within the ApiV2HostSessionBookingDto object (`recurringBookingId` field) returned from the session booking list endpoint.

        **Note:** This endpoint cancels both recurring booking and individual bookings originating from the same.

        User can provide more specific filters to specify which bookings will be cancelled.'
      parameters:
      - name: bookingId
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostSessionRecurringBookingCancelRequestDto'
      responses:
        '200':
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/sessions:
    get:
      operationId: ApiV2HostSessionsController_getSessions
      summary: Returns a list of sessions
      parameters:
      - name: page
        required: true
        in: query
        description: Starts at 0
        schema:
          minimum: 0
          example: 0
          type: integer
      - name: pageSize
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 200
          example: 10
          type: integer
      - name: sortOrder
        required: false
        in: query
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - name: sortBy
        required: false
        in: query
        description: Field to sort by
        schema:
          enum:
          - name
          - startsAt
          - endsAt
          type: string
      - name: includeCancelled
        required: false
        in: query
        description: also include cancelled sessions
        schema:
          type: boolean
      - name: types
        required: false
        in: query
        description: only return specified session types
        schema:
          type: array
          items:
            type: string
            enum:
            - private
            - special-event
            - special-event-new
            - retreat
            - fitness
            - course
            - course-class
            - semester
            - recital
      - name: teacherId
        required: false
        in: query
        schema:
          type: integer
      - name: locationId
        required: false
        in: query
        schema:
          type: integer
      - name: startAfter
        required: false
        in: query
        schema:
          type: string
      - name: startBefore
        required: false
        in: query
        schema:
          type: string
      - name: endAfter
        required: false
        in: query
        schema:
          type: string
      - name: endBefore
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponseDto'
                - required:
                  - payload
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/HostSessionDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/sessions/{sessionId}:
    get:
      operationId: ApiV2HostSessionsController_getSession
      summary: Returns a session detail
      parameters:
      - name: sessionId
        required: true
        in: path
        schema:
          type: number
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostSessionDetailDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/sessions/{sessionId}/bookings:
    get:
      operationId: ApiV2HostSessionsController_getSessionBookings
      summary: Returns a list of session bookings
      parameters:
      - name: page
        required: true
        in: query
        description: Starts at 0
        schema:
          minimum: 0
          example: 0
          type: integer
      - name: pageSize
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 100
          example: 10
          type: integer
      - name: sortOrder
        required: false
        in: query
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - name: sortBy
        required: false
        in: query
        description: Field to sort by
        schema:
          enum:
          - createdAt
          - firstName
          - lastName
          type: string
      - name: includeCancelled
        required: false
        in: query
        description: also include cancelled bookings
        schema:
          type: boolean
      - name: sessionId
        required: true
        in: path
        schema:
          type: number
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponseDto'
                - required:
                  - payload
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/HostSessionBookingDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/sessions/{sessionId}/bookings/free:
    post:
      operationId: ApiV2HostSessionsController_addToSessionForFree
      summary: Add a member to a session for free
      description: 'This endpoint allows staff user to add a member to a session for free


        | Error | Description |

        | --- | --- |

        | err-member-not-found | member not found |

        | err-member-not-assigned-to-host | member is not assigned to the host |

        | err-session-not-found | session not found |

        | err-session-not-provided-by-host | session not provided by the host |

        | err-customer-age-prevents-from-action | member is not eligible due to age restrictions |

        | err-missing-customer-date-of-birth | member is missing date of birth value |

        | err-missing-date-of-birth-setting | host is missing date of birth settings |

        | err-invalid-date-of-birth-value | member has invalid date of birth value |

        | err-session-not-recurring | session is not a recurring session |'
      parameters:
      - name: sessionId
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostFreeSessionBookingRequestDto'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostFreeSessionBookingResponseDto'
          description: ''
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostFreeSessionBookingErrorResponseDto'
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/sessions/{sessionId}/waitlist/bookings:
    post:
      operationId: ApiV2HostSessionsController_addToWaitlist
      summary: Add a member to a session waitlist
      description: 'This endpoint allows staff user to add a member to a session waitlist


        **NOTE**: You can use the optional `useBoughtMembershipIds` field to provide a list of bought memberships that should be attempted to use during booking from the waitlist. If you don''t provide anything here the best matching membership will be used automatically.


        | Error | Description |

        | --- | --- |

        | err-waitlist-not-allowed | session does not have waitlist enabled |

        | err-waitlist-full | session waitlist is full |

        | err-member-already-on-waitlist | member is already on the waitlist |

        | err-member-not-found | member not found |

        | err-member-not-assigned-to-host | member is not assigned to the host |

        | err-session-not-found | session not found |

        | err-session-not-provided-by-host | session not provided by the host |

        | err-customer-age-prevents-from-action | member is not eligible due to age restrictions |

        | err-missing-customer-date-of-birth | member is missing date of birth value |

        | err-missing-date-of-birth-setting | host is missing date of birth settings |

        | err-invalid-date-of-birth-value | member has invalid date of birth value |'
      parameters:
      - name: sessionId
        required: true
        in: path
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostSessionWaitlistBookingRequestDto'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostSessionWaitlistBookingResponseDto'
          description: ''
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostSessionWaitlistBookingErrorResponseDto'
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/tags:
    get:
      operationId: ApiV2HostTagsController_list
      summary: List available tags
      parameters:
      - name: page
        required: true
        in: query
        description: Starts at 0
        schema:
          minimum: 0
          example: 0
          type: integer
      - name: pageSize
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 100
          example: 10
          type: integer
      - name: sortOrder
        required: false
        in: query
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - name: sortBy
        required: false
        in: query
        description: Field to sort by
        schema:
          enum:
          - name
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponseDto'
                - required:
                  - payload
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/HostTagDto'
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/reports:
    post:
      operationId: ApiV2HostReportRunsController_createReportRun
      summary: Initiate report generation
      description: 'Initiates generation of a report. Use "Retrieve a report" endpoint to retrieve the report data once the generation is completed.


        **Rate limit:** 100 req / 1 d'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiV2HostCreateReportRunRequestDto'
            examples:
              createTotalSalesReport:
                summary: Create Total Sales report
                value:
                  parameters:
                    reportType: total-sales
                    hostId: 745
                    dateRange:
                      from: 2026-01-01 00:00:00+00:00
                      to: 2026-01-30 00:00:00+00:00
                    includeRefunds: true
                    saleTypes:
                    - membership
              createFranchiseGiftCardReconciliationReport:
                summary: Create Franchise Gift Card Reconciliation report
                value:
                  parameters:
                    reportType: franchise-gift-card-reconciliation
                    hostId: 745
                    dateRange:
                      from: 2026-01-01 00:00:00+00:00
                      to: 2026-01-30 00:00:00+00:00
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2HostCreateReportRunResponseDto'
          description: ''
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2HostCreateReportRunResponseDto'
      tags:
      - Host
      security:
      - OAuth2: []
  /api/v2/host/reports/{reportRunId}:
    get:
      operationId: ApiV2HostReportRunsController_getReportRun
      summary: Retrieve a report
      description: '**Rate limit:** 1000 req / 1 d'
      parameters:
      - name: reportRunId
        required: true
        in: path
        schema:
          type: number
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2HostGetReportRunResponseDto'
              examples:
                getReportRunTotalSalesRunning:
                  summary: Get running Total Sales report
                  value:
                    id: 1
                    status: running
                    parameters:
                      reportType: total-sales
                      hostId: 745
                      dateRange:
                        from: 2026-01-01 00:00:00+00:00
                        to: 2026-01-30 00:00:00+00:00
                      includeRefunds: true
                      saleTypes:
                      - membership
                    data: null
                getReportRunTotalSalesCompletedEmptyItems:
                  summary: Get completed Total Sales report (empty items)
                  value:
                    id: 1
                    status: completed
                    parameters:
                      reportType: total-sales
                      hostId: 745
                      dateRange:
                        from: 2026-01-01 00:00:00+00:00
                        to: 2026-01-30 00:00:00+00:00
                      includeRefunds: true
                      saleTypes:
                      - membership
                    data:
                      reportType: total-sales
                      items: []
                getReportRunTotalSalesCompletedNonEmptyItems:
                  summary: Get completed Total Sales report (non-empty items)
                  value:
                    id: 1
                    status: completed
                    parameters:
                      reportType: total-sales
                      hostId: 745
                      dateRange:
                        from: 2026-01-01 00:00:00+00:00
                        to: 2026-01-30 00:00:00+00:00
                      includeRefunds: true
                      saleTypes:
                      - membership
                    data:
                      reportType: total-sales
                      items:
                      - memberId: 10000001
                        customerName: Customer Name
                        customerEmail: customer@example.com
                        payingCustomerName: Customer Name
                        payingCustomerEmail: customer@example.com
                        payingMemberId: 10000001
                        saleItemId: 20000001
                        paymentCategory: subscription
                        membershipType: subscription
                        paymentDate: 2026-01-01 23:31:06.515000+00:00
                        serviceDate: 2026-01-01 23:31:06.882000+00:00
                        paymentValue: 359
                        paidInMoneyCredits: 359
                        paymentVat: 60
                        paymentItem: Gold Unlimited Membership
                        paymentStatus: succeeded
                        paymentMethod: package-money
                        paymentTransactionId: 30000001
                        stripeToken: package-money
                        currency: null
                        refunded: 0
                        soldBy: staff@example.com
                        location: null
                        transactionItems:
                        - paymentTransactionItemId: 40000001
                          paymentTransactionId: 30000001
                          membershipType: package-money
                          membershipName: null
                          paymentMethod: membership
                          paidInCurrency: 0
                          paidInMoneyCredits: 359
                          vatAmountInCurrency: 60
                          homeLocation: Location XXXXX
                          note: null
                          saleReference: Receipt-YYYY-XXX
                          paymentMethodWeight: 1
                          saleItemId: 20000001
                        saleReference: Receipt-YYYY-XXX
                        details:
                          boughtMembershipId: 50000001
                          membershipId: 60000001
                          membershipType: subscription
          description: ''
      tags:
      - Host
      security:
      - OAuth2: []
components:
  schemas:
    ApiV2AppointmentReservationBoardDto:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Yoga Private Appointments
      required:
      - id
      - name
    HostFreeSessionBookingRequestDto:
      type: object
      properties:
        memberId:
          type: integer
          example: 1
        createRecurringBooking:
          type: boolean
          example: true
      required:
      - memberId
    SessionSeriesIdDto:
      type: object
      properties:
        seriesId:
          type: integer
      required:
      - seriesId
    ApiV2HostReportRunProductSaleItemDto:
      type: object
      properties:
        memberId:
          type:
          - integer
          - 'null'
        customerName:
          type: string
        customerEmail:
          type: string
        payingCustomerEmail:
          type: string
        payingCustomerName:
          type: string
        payingMemberId:
          type: integer
        saleItemId:
          type: integer
        paymentDate:
          type: string
          format: date-time
        serviceDate:
          type:
          - string
          - 'null'
          format: date-time
        paymentValue:
          type:
          - number
          - 'null'
        paidInMoneyCredits:
          type:
          - number
          - 'null'
        paymentVat:
          type:
          - number
          - 'null'
        paymentItem:
          type: string
        paymentMethod:
          type: string
        paymentStatus:
          enum:
          - succeeded
          - failed
          - pending
          - voided
          - unpaid
          - incomplete
          type:
          - string
          - 'null'
          x-enumNames:
          - SUCCEEDED
          - FAILED
          - PENDING
          - VOIDED
          - UNPAID
          - INCOMPLETE
        paymentTransactionId:
          type:
          - integer
          - 'null'
        refunded:
          type: number
        stripeToken:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        customerSelectedLocation:
          type: string
        soldBy:
          type: string
        transactionItems:
          type: array
          items:
            $ref: '#/components/schemas/TransactionItemDto'
        location:
          type:
          - string
          - 'null'
        saleReference:
          type:
          - string
          - 'null'
        paymentCategory:
          enum:
          - product
          type: string
          x-enumNames:
          - PRODUCT
        details:
          type: object
          additionalProperties: true
      required:
      - memberId
      - customerName
      - customerEmail
      - payingCustomerEmail
      - payingCustomerName
      - payingMemberId
      - saleItemId
      - paymentDate
      - serviceDate
      - paymentValue
      - paidInMoneyCredits
      - paymentVat
      - paymentItem
      - paymentMethod
      - paymentStatus
      - paymentTransactionId
      - refunded
      - stripeToken
      - currency
      - transactionItems
      - paymentCategory
      - details
    ApiV2HostReportRunAppointmentSaleItemDto:
      type: object
      properties:
        memberId:
          type:
          - integer
          - 'null'
        customerName:
          type: string
        customerEmail:
          type: string
        payingCustomerEmail:
          type: string
        payingCustomerName:
          type: string
        payingMemberId:
          type: integer
        saleItemId:
          type: integer
        paymentDate:
          type: string
          format: date-time
        serviceDate:
          type:
          - string
          - 'null'
          format: date-time
        paymentValue:
          type:
          - number
          - 'null'
        paidInMoneyCredits:
          type:
          - number
          - 'null'
        paymentVat:
          type:
          - number
          - 'null'
        paymentItem:
          type: string
        paymentMethod:
          type: string
        paymentStatus:
          enum:
          - succeeded
          - failed
          - pending
          - voided
          - unpaid
          - incomplete
          type:
          - string
          - 'null'
          x-enumNames:
          - SUCCEEDED
          - FAILED
          - PENDING
          - VOIDED
          - UNPAID
          - INCOMPLETE
        paymentTransactionId:
          type:
          - integer
          - 'null'
        refunded:
          type: number
        stripeToken:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        customerSelectedLocation:
          type: string
        soldBy:
          type: string
        transactionItems:
          type: array
          items:
            $ref: '#/components/schemas/TransactionItemDto'
        location:
          type:
          - string
          - 'null'
        saleReference:
          type:
          - string
          - 'null'
        paymentCategory:
          enum:
          - appointment
          type: string
          x-enumNames:
          - APPOINTMENT
        details:
          type: object
          additionalProperties: true
      required:
      - memberId
      - customerName
      - customerEmail
      - payingCustomerEmail
      - payingCustomerName
      - payingMemberId
      - saleItemId
      - paymentDate
      - serviceDate
      - paymentValue
      - paidInMoneyCredits
      - paymentVat
      - paymentItem
      - paymentMethod
      - paymentStatus
      - paymentTransactionId
      - refunded
      - stripeToken
      - currency
      - transactionItems
      - paymentCategory
      - details
    AddressDto:
      type: object
      properties:
        address:
          type: string
        city:
          type: string
        country:
          type: string
        zipcode:
          type: string
    ApiV2HostReportRunEventSaleItemDto:
      type: object
      properties:
        memberId:
          type:
          - integer
          - 'null'
        customerName:
          type: string
        customerEmail:
          type: string
        payingCustomerEmail:
          type: string
        payingCustomerName:
          type: string
        payingMemberId:
          type: integer
        saleItemId:
          type: integer
        paymentDate:
          type: string
          format: date-time
        serviceDate:
          type:
          - string
          - 'null'
          format: date-time
        paymentValue:
          type:
          - number
          - 'null'
        paidInMoneyCredits:
          type:
          - number
          - 'null'
        paymentVat:
          type:
          - number
          - 'null'
        paymentItem:
          type: string
        paymentMethod:
          type: string
        paymentStatus:
          enum:
          - succeeded
          - failed
          - pending
          - voided
          - unpaid
          - incomplete
          type:
          - string
          - 'null'
          x-enumNames:
          - SUCCEEDED
          - FAILED
          - PENDING
          - VOIDED
          - UNPAID
          - INCOMPLETE
        paymentTransactionId:
          type:
          - integer
          - 'null'
        refunded:
          type: number
        stripeToken:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        customerSelectedLocation:
          type: string
        soldBy:
          type: string
        transactionItems:
          type: array
          items:
            $ref: '#/components/schemas/TransactionItemDto'
        location:
          type:
          - string
          - 'null'
        saleReference:
          type:
          - string
          - 'null'
        paymentCategory:
          enum:
          - event
          type: string
          x-enumNames:
          - EVENT
        eventType:
          enum:
          - private
          - special-event
          - special-event-new
          - retreat
          - fitness
          - course
          - course-class
          - semester
          - recital
          type: string
          x-enumNames:
          - PRIVATE
          - SPECIAL_EVENT
          - SPECIAL_EVENT_NEW
          - RETREAT
          - FITNESS
          - COURSE
          - COURSE_CLASS
          - SEMESTER
          - RECITAL
        eventIsSemesterClass:
          type: boolean
        details:
          type: object
          additionalProperties: true
      required:
      - memberId
      - customerName
      - customerEmail
      - payingCustomerEmail
      - payingCustomerName
      - payingMemberId
      - saleItemId
      - paymentDate
      - serviceDate
      - paymentValue
      - paidInMoneyCredits
      - paymentVat
      - paymentItem
      - paymentMethod
      - paymentStatus
      - paymentTransactionId
      - refunded
      - stripeToken
      - currency
      - transactionItems
      - paymentCategory
      - eventType
      - eventIsSemesterClass
      - details
    HostSaleProductDto:
      type: object
      properties:
        id:
          type: integer
          example: 3
        name:
          type: string
          example: T-Shirt
      required:
      - id
      - name
    ApiV2HostReportRunFranchiseGiftCardReconciliationReportRunDataDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/FranchiseGiftCardReconciliationItemDto'
        reportType:
          type: string
          enum:
          - franchise-gift-card-reconciliation
      required:
      - items
      - reportType
    TransactionItemDto:
      type: object
      properties:
        paymentTransactionItemId:
          type:
          - integer
          - 'null'
        paymentTransactionId:
          type:
          - integer
          - 'null'
        paymentMethod:
          type:
          - string
          - 'null'
        paidInCurrency:
          type:
          - number
          - 'null'
        paidInMoneyCredits:
          type:
          - number
          - 'null'
        vatAmountInCurrency:
          type:
          - number
          - 'null'
        membershipType:
          type:
          - string
          - 'null'
        membershipName:
          type:
          - string
          - 'null'
        homeLocation:
          type:
          - string
          - 'null'
        note:
          type:
          - string
          - 'null'
        saleReference:
          type:
          - string
          - 'null'
        paymentMethodWeight:
          type:
          - number
          - 'null'
        saleItemId:
          type: integer
      required:
      - paymentTransactionItemId
      - paymentTransactionId
      - paymentMethod
      - paidInCurrency
      - paidInMoneyCredits
      - vatAmountInCurrency
      - membershipType
      - membershipName
      - note
      - paymentMethodWeight
      - saleItemId
    HostSessionDto:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Stretching with John
        type:
          enum:
          - private
          - special-event
          - special-event-new
          - retreat
          - fitness
          - course
          - course-class
          - semester
          - recital
          type: string
          example: fitness
          x-enumNames:
          - PRIVATE
          - SPECIAL_EVENT
          - SPECIAL_EVENT_NEW
          - RETREAT
          - FITNESS
          - COURSE
          - COURSE_CLASS
          - SEMESTER
          - RECITAL
        description:
          type:
          - string
          - 'null'
          example: Our program is designed to help you increase your flexibility and strength.
        startsAt:
          type: string
          example: '2021-08-01T10:00:00Z'
          format: date-time
        endsAt:
          type: string
          example: '2021-08-01T11:00:00Z'
          format: date-time
        durationInMinutes:
          type: integer
          example: 60
          minimum: 0
        capacity:
          type:
          - integer
          - 'null'
          example: 10
          minimum: 0
        bookingCount:
          type: integer
          example: 10
          minimum: 0
        teacher:
          allOf:
          - $ref: '#/components/schemas/MemberTeacherDto'
        isRecurring:
          type: boolean
          example: false
        isCancelled:
          type: boolean
          example: false
        isInPerson:
          type: boolean
          example: false
        isDraft:
          type: boolean
          example: false
        inPersonLocation:
          allOf:
          - $ref: '#/components/schemas/MemberLocationDto'
        onlineStreamUrl:
          type:
          - string
          - 'null'
          example: https://example.com/online-stream
        onlineStreamPassword:
          type:
          - string
          - 'null'
          example: password123
        bannerImageUrl:
          type:
          - string
          - 'null'
          example: https://example.com/banner.jpg
        hostPhotoUrl:
          type:
          - string
          - 'null'
          example: https://example.com/host.jpg
        tags:
          type: array
          items:
            $ref: '#/components/schemas/SessionTagDto'
      required:
      - id
      - name
      - type
      - description
      - startsAt
      - endsAt
      - durationInMinutes
      - capacity
      - bookingCount
      - teacher
      - isRecurring
      - isCancelled
      - isInPerson
      - isDraft
      - inPersonLocation
      - onlineStreamUrl
      - onlineStreamPassword
      - bannerImageUrl
      - hostPhotoUrl
    HostSessionBookingCancelRequestDto:
      type: object
      properties:
        refund:
          type: boolean
        disableNotifications:
          type: boolean
        isLateCancellation:
          type: boolean
      required:
      - refund
      - disableNotifications
      - isLateCancellation
    HostSaleItemDto:
      type: object
      properties:
        id:
          type: integer
          example: 1
        saleItemId:
          type: integer
          example: 1
        itemType:
          enum:
          - membership
          - session
          - appointment
          - product
          - video
          - course
          - gift-card
          - monthly-subscription
          - custom-member-payment-plan-installment
          - money-credit
          - event-credit
          - auto-attendance-penalty
          - auto-attendance-penalty-retry-fee
          - stripe-refund
          - refund
          - tips
          - appointment-deposit
          - tuition-installment
          - tuition-registration-fee
          - appointment-addon
          - open-area-visit
          - membership-freeze-fee
          - membership-renewal-retry-fee
          - membership-cancellation-fee
          - membership-transfer-fee
          - membership-joining-fee
          - session-addon
          type: string
          example: membership
          x-enumNames:
          - MEMBERSHIP
          - SESSION
          - APPOINTMENT
          - PRODUCT
          - VIDEO
          - COURSE
          - GIFT_CARD
          - MONTHLY_SUBSCRIPTION
          - CUSTOM_MEMBER_PAYMENT_PLAN_INSTALLMENT
          - MONEY_CREDIT
          - EVENT_CREDIT
          - AUTO_ATTENDANCE_PENALTY
          - AUTO_ATTENDANCE_PENALTY_RETRY_FEE
          - STRIPE_REFUND
          - REFUND
          - TIPS
          - APPOINTMENT_DEPOSIT
          - TUITION_INSTALLMENT
          - TUITION_REGISTRATION_FEE
          - APPOINTMENT_ADDON
          - OPEN_AREA_VISIT
          - MEMBERSHIP_FREEZE_FEE
          - MEMBERSHIP_RENEWAL_RETRY_FEE
          - MEMBERSHIP_CANCELLATION_FEE
          - MEMBERSHIP_TRANSFER_FEE
          - MEMBERSHIP_JOINING_FEE
          - SESSION_ADDON
        itemName:
          type: string
          example: Monthly Membership for Johns
        descriptiveItemName:
          type: string
          example: Monthly Membership for Johns
        payingMember:
          $ref: '#/components/schemas/HostSaleMemberDto'
        targetMember:
          $ref: '#/components/schemas/HostSaleMemberDto'
        session:
          $ref: '#/components/schemas/HostSaleSessionDto'
        appointment:
          $ref: '#/components/schemas/HostSaleAppointmentDto'
        product:
          $ref: '#/components/schemas/HostSaleProductDto'
        productVariant:
          $ref: '#/components/schemas/HostSaleProductVariantDto'
        openArea:
          $ref: '#/components/schemas/HostSaleOpenAreaDto'
        quantity:
          type: number
          example: 1
        unitPriceExcludingTaxInCurrency:
          type: string
          example: '9.99'
        unitTaxAmountInCurrency:
          type: string
          example: '0.43'
      required:
      - id
      - saleItemId
      - itemType
      - itemName
      - descriptiveItemName
      - payingMember
      - targetMember
      - quantity
      - unitPriceExcludingTaxInCurrency
      - unitTaxAmountInCurrency
    LocationIdDto:
      type: object
      properties:
        locationId:
          type: integer
      required:
      - locationId
    ApiV2HostMemberBoughtMembershipsUpdateClassCreditsRequestDto:
      type: object
      properties:
        eventCreditsLeft:
          type: number
          description: Set number of event credits left, valid only for PACKAGE_EVENTS bought membership
          example: 5.5
          minimum: 0
        moneyCreditsLeft:
          type: number
          description: Set number of money credits left, valid only for PACKAGE_MONEY bought membership
          example: 99.99
          minimum: 0
    ApiV2HostReportRunAutomatedPenaltyChargeDto:
      type: object
      properties:
        memberId:
          type:
          - integer
          - 'null'
        customerName:
          type: string
        customerEmail:
          type: string
        payingCustomerEmail:
          type: string
        payingCustomerName:
          type: string
        payingMemberId:
          type: integer
        saleItemId:
          type: integer
        paymentDate:
          type: string
          format: date-time
        serviceDate:
          type:
          - string
          - 'null'
          format: date-time
        paymentValue:
          type:
          - number
          - 'null'
        paidInMoneyCredits:
          type:
          - number
          - 'null'
        paymentVat:
          type:
          - number
          - 'null'
        paymentItem:
          type: string
        paymentMethod:
          type: string
        paymentStatus:
          enum:
          - succeeded
          - failed
          - pending
          - voided
          - unpaid
          - incomplete
          type:
          - string
          - 'null'
          x-enumNames:
          - SUCCEEDED
          - FAILED
          - PENDING
          - VOIDED
          - UNPAID
          - INCOMPLETE
        paymentTransactionId:
          type:
          - integer
          - 'null'
        refunded:
          type: number
        stripeToken:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        customerSelectedLocation:
          type: string
        soldBy:
          type: string
        transactionItems:
          type: array
          items:
            $ref: '#/components/schemas/TransactionItemDto'
        location:
          type:
          - string
          - 'null'
        saleReference:
          type:
          - string
          - 'null'
        paymentCategory:
          enum:
          - automatic-penalty-charge
          type: string
          x-enumNames:
          - AUTOMATIC_PENALTY_CHARGE
        details:
          type: object
          additionalProperties: true
      required:
      - memberId
      - customerName
      - customerEmail
      - payingCustomerEmail
      - payingCustomerName
      - payingMemberId
      - saleItemId
      - paymentDate
      - serviceDate
      - paymentValue
      - paidInMoneyCredits
      - paymentVat
      - paymentItem
      - paymentMethod
      - paymentStatus
      - paymentTransactionId
      - refunded
      - stripeToken
      - currency
      - transactionItems
      - paymentCategory
      - details
    MemberTeacherDto:
      type: object
      properties:
        id:
          type: integer
          example: 1
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        pictureUrl:
          type:
          - string
          - 'null'
          example: https://example.com/picture.jpg
      required:
      - id
      - firstName
      - lastName
      - pictureUrl
    ApiV2HostGetReportRunResponseDto:
      type: object
      properties:
        parameters:
          oneOf:
          - $ref: '#/components/schemas/ApiV2HostReportRunTotalSalesReportRunParametersDto'
          - $ref: '#/components/schemas/ApiV2HostReportRunFranchiseGiftCardReconciliationReportRunParametersDto'
        data:
          oneOf:
          - $ref: '#/components/schemas/ApiV2HostReportRunTotalSalesReportRunDataDto'
          - $ref: '#/components/schemas/ApiV2HostReportRunFranchiseGiftCardReconciliationReportRunDataDto'
        id:
          type: integer
        status:
          enum:
          - queued
          - running
          - completed
          - failed
          type: string
          x-enumNames:
          - QUEUED
          - RUNNING
          - COMPLETED
          - FAILED
      required:
      - parameters
      - data
      - id
      - status
    ApiV2HostReportRunVideoSaleItemDto:
      type: object
      properties:
        memberId:
          type:
          - integer
          - 'null'
        customerName:
          type: string
        customerEmail:
          type: string
        payingCustomerEmail:
          type: string
        payingCustomerName:
          type: string
        payingMemberId:
          type: integer
        saleItemId:
          type: integer
        paymentDate:
          type: string
          format: date-time
        serviceDate:
          type:
          - string
          - 'null'
          format: date-time
        paymentValue:
          type:
          - number
          - 'null'
        paidInMoneyCredits:
          type:
          - number
          - 'null'
        paymentVat:
          type:
          - number
          - 'null'
        paymentItem:
          type: string
        paymentMethod:
          type: string
        paymentStatus:
          enum:
          - succeeded
          - failed
          - pending
          - voided
          - unpaid
          - incomplete
          type:
          - string
          - 'null'
          x-enumNames:
          - SUCCEEDED
          - FAILED
          - PENDING
          - VOIDED
          - UNPAID
          - INCOMPLETE
        paymentTransactionId:
          type:
          - integer
          - 'null'
        refunded:
          type: number
        stripeToken:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        customerSelectedLocation:
          type: string
        soldBy:
          type: string
        transactionItems:
          type: array
          items:
            $ref: '#/components/schemas/TransactionItemDto'
        location:
          type:
          - string
          - 'null'
        saleReference:
          type:
          - string
          - 'null'
        paymentCategory:
          enum:
          - on-demand
          type: string
          x-enumNames:
          - ON_DEMAND
        details:
          type: object
          additionalProperties: true
      required:
      - memberId
      - customerName
      - customerEmail
      - payingCustomerEmail
      - payingCustomerName
      - payingMemberId
      - saleItemId
      - paymentDate
      - serviceDate
      - paymentValue
      - paidInMoneyCredits
      - paymentVat
      - paymentItem
      - paymentMethod
      - paymentStatus
      - paymentTransactionId
      - refunded
      - stripeToken
      - currency
      - transactionItems
      - paymentCategory
      - details
    HostFreeSessionBookingErrorResponseDto:
      type: object
      properties:
        type:
          type: string
          enum:
          - err-member-not-found
          - err-member-not-assigned-to-host
          - err-session-not-found
          - err-session-not-provided-by-host
          - err-customer-age-prevents-from-action
          - err-missing-customer-date-of-birth
          - err-missing-date-of-birth-setting
          - err-invalid-date-of-birth-value
          x-enumNames:
          - ERR_MEMBER_NOT_FOUND
          - ERR_MEMBER_NOT_ASSIGNED_TO_HOST
          - ERR_SESSION_NOT_FOUND
          - ERR_SESSION_NOT_PROVIDED_BY_HOST
          - ERR_CUSTOMER_AGE_PREVENTS_FROM_ACTION
          - ERR_MISSING_CUSTOMER_DATE_OF_BIRTH
          - ERR_MISSING_DATE_OF_BIRTH_SETTINGS
          - ERR_INVALID_DATE_OF_BIRTH_VALUE
        message:
          type: string
      required:
      - type
      - message
    ApiV2HostReportRunTuitionInstallmentSaleItemDto:
      type: object
      properties:
        memberId:
          type:
          - integer
          - 'null'
        customerName:
          type: string
        customerEmail:
          type: string
        payingCustomerEmail:
          type: string
        payingCustomerName:
          type: string
        payingMemberId:
          type: integer
        saleItemId:
          type: integer
        paymentDate:
          type: string
          format: date-time
        serviceDate:
          type:
          - string
          - 'null'
          format: date-time
        paymentValue:
          type:
          - number
          - 'null'
        paidInMoneyCredits:
          type:
          - number
          - 'null'
        paymentVat:
          type:
          - number
          - 'null'
        paymentItem:
          type: string
        paymentMethod:
          type: string
        paymentStatus:
          enum:
          - succeeded
          - failed
          - pending
          - voided
          - unpaid
          - incomplete
          type:
          - string
          - 'null'
          x-enumNames:
          - SUCCEEDED
          - FAILED
          - PENDING
          - VOIDED
          - UNPAID
          - INCOMPLETE
        paymentTransactionId:
          type:
          - integer
          - 'null'
        refunded:
          type: number
        stripeToken:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        customerSelectedLocation:
          type: string
        soldBy:
          type: string
        transactionItems:
          type: array
          items:
            $ref: '#/components/schemas/TransactionItemDto'
        location:
          type:
          - string
          - 'null'
        saleReference:
          type:
          - string
          - 'null'
        paymentCategory:
          enum:
          - tuition-installment
          type: string
          x-enumNames:
          - TUITION_INSTALLMENT
        details:
          type: object
          additionalProperties: true
      required:
      - memberId
      - customerName
      - customerEmail
      - payingCustomerEmail
      - payingCustomerName
      - payingMemberId
      - saleItemId
      - paymentDate
      - serviceDate
      - paymentValue
      - paidInMoneyCredits
      - paymentVat
      - paymentItem
      - paymentMethod
      - paymentStatus
      - paymentTransactionId
      - refunded
      - stripeToken
      - currency
      - transactionItems
      - paymentCategory
      - details
    ApiV2HostCreateReportRunRequestDto:
      type: object
      properties:
        parameters:
          oneOf:
          - $ref: '#/components/schemas/ApiV2HostReportRunTotalSalesReportRunParametersDto'
          - $ref: '#/components/schemas/ApiV2HostReportRunFranchiseGiftCardReconciliationReportRunParametersDto'
      required:
      - parameters
    FranchiseGiftCardReconciliationItemDto:
      type: object
      properties:
        hostName:
          type: string
        totals:
          $ref: '#/components/schemas/TotalsDto'
        paymentTransactionItems:
          type: array
          items:
            $ref: '#/components/schemas/PaymentTransactionItemDto'
      required:
      - hostName
      - totals
      - paymentTransactionItems
    ApiV2HostReportRunFranchiseGiftCardReconciliationReportRunParametersDto:
      type: object
      properties:
        reportType:
          enum:
          - franchise-gift-card-reconciliation
          type: string
          x-enumNames:
          - TEACHER_PAYROLL
          - TEACHER_PAYROLL_UNLIMITED
          - ADDITIONAL_TEACHER_PAYROLL
          - COMBINED_TEACHER_PAYROLL
          - TOTAL_SALES
          - VIDEO_VIEWS
          - STAFF_TIME_TRACKING
          - SERVICE_SALES
          - SALES_BY_CATEGORY
          - SALES_BY_APPOINTMENT
          - APPOINTMENTS_PAYROLL
          - APPOINTMENTS_ATTENDANCE
          - RETENTION
          - PRODUCT_SALES
          - PRODUCT_INVENTORY
          - ON_DEMAND_SALES
          - MEMBERSHIP_SALES
          - DISCOUNT_CODE_SALES
          - CUSTOMER_LIST
          - CUSTOMER_FIELD_VALUES
          - CUSTOMER_BIRTHDAYS
          - COURSE_SALES
          - ATTENDANCE
          - DECLINED_RENEWALS
          - FAILED_DIRECT_DEBIT_PAYMENTS
          - UPCOMING_RENEWALS
          - MEMBERSHIP_RENEWALS
          - CARDS_EXPIRATION
          - PAYMENT_PLANS_PAYMENTS
          - PRODUCT_SALES_BY_PRODUCT
          - PRODUCT_SALES_BY_SUPPLIER
          - MEMBERSHIP_CANCELLATIONS
          - ADDITIONAL_BOOKINGS
          - TOTAL_BOOKINGS
          - NEW_VISITORS
          - NEW_MEMBERS
          - NEW_CUSTOMERS
          - PRODUCT_SALES_BY_CATEGORY
          - REFUNDS
          - OUTSTANDING_MONEY_CREDITS
          - OUTSTANDING_EVENT_CREDITS
          - MEMBERSHIP_STATS
          - AUTOSUBSTITUTE_RESPONSES
          - LATE_CANCELLATIONS
          - SALES_BY_TAGS
          - FROZEN_MEMBERSHIPS
          - STAFF_HOURS
          - TEACHERS_BY_PAYRATE
          - NO_SHOWS
          - APPOINTMENT_NO_SHOWS
          - SESSION_BOOKINGS
          - APPOINTMENT_BOOKINGS
          - UPCOMING_MEMBERSHIPS_EXPIRATION
          - MEMBERSHIPS_EXPIRATION
          - NOT_ACTIVATED_MEMBERSHIPS
          - UNPAID_BOOKINGS
          - FAILED_PAYMENT_PLAN_PAYMENTS
          - FAILED_TUITION_INSTALLMENT_PAYMENTS
          - NON_RETURNING_CUSTOMERS
          - NON_MEMBER_CUSTOMERS
          - MEMBER_CUSTOMERS
          - ACTIVE_MEMBERS
          - TOTAL_VISITS
          - MEMBER_KEY_SCAN_IDENTIFICATIONS
          - VISITS_OVERVIEW
          - RECURRING_EVENT_ATTENDANCE
          - INTRO_OFFERS_SALES
          - INTRO_OFFERS_UPCOMING_EXPIRATIONS
          - INTRO_OFFERS_EXPIRED
          - INTRO_OFFERS_CONVERSIONS
          - CUSTOMER_LEADS_CONVERSIONS
          - GIFT_CARD_SALES
          - UNSUBSCRIBED_CUSTOMERS_FROM_MARKETING_EMAILS
          - CUSTOMER_ATTENDANCE_ANALYSIS
          - STUDIO_GROW_KPI
          - CUSTOMER_REFERRAL_REWARDS
          - PAYROLL
          - CUSTOMER_LEADS_FIELD_VALUES
          - TIP
          - CUSTOMER_LEADS_KPI
          - CUSTOMER_LEADS_KPI_NMS
          - FACEBOOK_INSTAGRAM_ROI_CALCULATOR
          - GUEST_PASS_USAGE_SESSIONS
          - CUSTOMER_RANKINGS_MEMBERS
          - COMMISSIONS
          - FRANCHISE_FEES
          - APPOINTMENT_BOOKING_CANCELLATIONS
          - NEW_LEADS_AND_CUSTOMERS
          - APPOINTMENT_VISITORS_WITHOUT_UPCOMING_BOOKINGS
          - COURSE_QUIZ_SUBMISSIONS
          - APPOINTMENT_RESERVATIONS
          - BUSINESS_AT_GLANCE
          - DECLINED_PENALTY_CHARGES
          - APPOINTMENT_ADDONS
          - SPOTFILLERS
          - FRANCHISE_SALES
          - APPOINTMENT_SERVICE_AND_RETAIL_ANALYSIS_BY_EMPLOYEE
          - MOLONI_TRANSACTIONS
          - APPOINTMENTS_PRODUCTS_STAFF_PERFORMANCE
          - FRANCHISE_GIFT_CARD_RECONCILIATION
          - SESSION_OCCUPANCY
          - REVENUE_BREAKDOWN
          - OPEN_AREA_VISITS
          - SALES_BY_OPEN_AREA_VISIT
          - SESSION_ADDONS
          - MEMBERSHIP_RECONCILIATION
          - REWARDS_POINTS_MOVEMENTS
          - REWARDS_POINTS_BALANCES
        hostId:
          type: integer
        dateRange:
          $ref: '#/components/schemas/DateRangeDto'
      required:
      - reportType
      - hostId
      - dateRange
    MemberSessionBookingSessionDto:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Stretching with John
        type:
          enum:
          - private
          - special-event
          - special-event-new
          - retreat
          - fitness
          - course
          - course-class
          - semester
          - recital
          type: string
          example: fitness
          x-enumNames:
          - PRIVATE
          - SPECIAL_EVENT
          - SPECIAL_EVENT_NEW
          - RETREAT
          - FITNESS
          - COURSE
          - COURSE_CLASS
          - SEMESTER
          - RECITAL
        description:
          type:
          - string
          - 'null'
          example: Our program is designed to help you increase your flexibility and strength.
        startsAt:
          type: string
          example: '2021-08-01T10:00:00Z'
          format: date-time
        endsAt:
          type: string
          example: '2021-08-01T11:00:00Z'
          format: date-time
        durationInMinutes:
          type: integer
          example: 60
          minimum: 0
        capacity:
          type:
          - integer
          - 'null'
          example: 10
          minimum: 0
        teacher:
          allOf:
          - $ref: '#/components/schemas/MemberTeacherDto'
        isRecurring:
          type: boolean
          example: false
        isInPerson:
          type: boolean
          example: false
        inPersonLocation:
          allOf:
          - $ref: '#/components/schemas/MemberLocationDto'
        onlineStreamUrl:
          type:
          - string
          - 'null'
          example: https://example.com/online-stream
        onlineStreamPassword:
          type:
          - string
          - 'null'
          example: password123
        bannerImageUrl:
          type:
          - string
          - 'null'
          example: https://example.com/banner.jpg
        hostPhotoUrl:
          type:
          - string
          - 'null'
          example: https://example.com/host.jpg
        isLocationPrivate:
          type: boolean
          example: false
      required:
      - id
      - name
      - type
      - description
      - startsAt
      - endsAt
      - durationInMinutes
      - capacity
      - teacher
      - isRecurring
      - isInPerson
      - inPersonLocation
      - onlineStreamUrl
      - onlineStreamPassword
      - bannerImageUrl
      - hostPhotoUrl
      - isLocationPrivate
    ApiV2HostReportRunMembershipSaleItemDto:
      type: object
      properties:
        memberId:
          type:
          - integer
          - 'null'
        customerName:
          type: string
        customerEmail:
          type: string
        payingCustomerEmail:
          type: string
        payingCustomerName:
          type: string
        payingMemberId:
          type: integer
        saleItemId:
          type: integer
        paymentDate:
          type: string
          format: date-time
        serviceDate:
          type:
          - string
          - 'null'
          format: date-time
        paymentValue:
          type:
          - number
          - 'null'
        paidInMoneyCredits:
          type:
          - number
          - 'null'
        paymentVat:
          type:
          - number
          - 'null'
        paymentItem:
          type: string
        paymentMethod:
          type: string
        paymentStatus:
          enum:
          - succeeded
          - failed
          - pending
          - voided
          - unpaid
          - incomplete
          type:
          - string
          - 'null'
          x-enumNames:
          - SUCCEEDED
          - FAILED
          - PENDING
          - VOIDED
          - UNPAID
          - INCOMPLETE
        paymentTransactionId:
          type:
          - integer
          - 'null'
        refunded:
          type: number
        stripeToken:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        customerSelectedLocation:
          type: string
        soldBy:
          type: string
        transactionItems:
          type: array
          items:
            $ref: '#/components/schemas/TransactionItemDto'
        location:
          type:
          - string
          - 'null'
        saleReference:
          type:
          - string
          - 'null'
        paymentCategory:
          enum:
          - membership
          - pack
          - subscription
          type: string
          x-enumNames:
          - MEMBERSHIP
          - PACKAGE
          - SUBSCRIPTION
        membershipType:
          enum:
          - subscription
          - on-demand-subscription
          - package-events
          - package-money
          - patron
          type: string
          x-enumNames:
          - Subscription
          - OnDemandSubscription
          - PackageEvents
          - PackageMoney
          - Patron
        details:
          type: object
          additionalProperties: true
      required:
      - memberId
      - customerName
      - customerEmail
      - payingCustomerEmail
      - payingCustomerName
      - payingMemberId
      - saleItemId
      - paymentDate
      - serviceDate
      - paymentValue
      - paidInMoneyCredits
      - paymentVat
      - paymentItem
      - paymentMethod
      - paymentStatus
      - paymentTransactionId
      - refunded
      - stripeToken
      - currency
      - transactionItems
      - paymentCategory
      - membershipType
      - details
    ApiV2HostAppointmentReservationDto:
      type: object
      properties:
        id:
          type: integer
        createdAt:
          type: string
        cancelledAt:
          type:
          - string
          - 'null'
        startsAt:
          type: string
        endsAt:
          type: string
        durationInMinutes:
          type: number
        priceInCurrency:
          type: number
        depositInCurrency:
          type:
          - string
          - 'null'
        isDepositPaid:
          type: boolean
        currency:
          type: string
        isPaid:
          type: boolean
        capacity:
          type:
          - integer
          - 'null'
          example: 10
          minimum: 1
        board:
          $ref: '#/components/schemas/ApiV2AppointmentReservationBoardDto'
        service:
          $ref: '#/components/schemas/ApiV2AppointmentReservationServiceDto'
        serviceVariant:
          allOf:
          - $ref: '#/components/schemas/BasicEntityIdentifierDto'
        teacher:
          allOf:
          - $ref: '#/components/schemas/MemberTeacherDto'
        additionalTeacher:
          allOf:
          - $ref: '#/components/schemas/MemberTeacherDto'
        isInPerson:
          type: boolean
          example: false
        inPersonLocation:
          allOf:
          - $ref: '#/components/schemas/MemberLocationDto'
        onlineStreamUrl:
          type:
          - string
          - 'null'
          example: https://example.com/online-stream
        onlineStreamPassword:
          type:
          - string
          - 'null'
          example: password123
        appointmentAttendees:
          type: array
          items:
            $ref: '#/components/schemas/ApiV2HostAppointmentReservationAttendeeDto'
      required:
      - id
      - createdAt
      - cancelledAt
      - startsAt
      - endsAt
      - durationInMinutes
      - priceInCurrency
      - depositInCurrency
      - isDepositPaid
      - currency
      - isPaid
      - capacity
      - board
      - service
      - serviceVariant
      - teacher
      - additionalTeacher
      - isInPerson
      - inPersonLocation
      - onlineStreamUrl
      - onlineStreamPassword
      - appointmentAttendees
    HostSaleMemberDto:
      type: object
      properties:
        id:
          type: integer
          example: 1
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
      required:
      - id
      - firstName
      - lastName
    PaginatedResponseDto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginatedResponseDataDto'
      required:
      - pagination
    HostMemberAppointmentReservationDto:
      type: object
      properties:
        id:
          type: integer
        createdAt:
          type: string
        cancelledAt:
          type:
          - string
          - 'null'
        startsAt:
          type: string
        endsAt:
          type: string
        durationInMinutes:
          type: number
        priceInCurrency:
          type: number
        depositInCurrency:
          type:
          - string
          - 'null'
        isDepositPaid:
          type: boolean
        currency:
          type: string
        isPaid:
          type: boolean
        capacity:
          type:
          - integer
          - 'null'
          example: 10
          minimum: 1
        board:
          $ref: '#/components/schemas/ApiV2AppointmentReservationBoardDto'
        service:
          $ref: '#/components/schemas/ApiV2AppointmentReservationServiceDto'
        serviceVariant:
          allOf:
          - $ref: '#/components/schemas/BasicEntityIdentifierDto'
        teacher:
          allOf:
          - $ref: '#/components/schemas/MemberTeacherDto'
        additionalTeacher:
          allOf:
          - $ref: '#/components/schemas/MemberTeacherDto'
        isInPerson:
          type: boolean
          example: false
        inPersonLocation:
          allOf:
          - $ref: '#/components/schemas/MemberLocationDto'
        onlineStreamUrl:
          type:
          - string
          - 'null'
          example: https://example.com/online-stream
        onlineStreamPassword:
          type:
          - string
          - 'null'
          example: password123
        member:
          $ref: '#/components/schemas/MemberAppointmentMemberDto'
      required:
      - id
      - createdAt
      - cancelledAt
      - startsAt
      - endsAt
      - durationInMinutes
      - priceInCurrency
      - depositInCurrency
      - isDepositPaid
      - currency
      - isPaid
      - capacity
      - board
      - service
      - serviceVariant
      - teacher
      - additionalTeacher
      - isInPerson
      - inPersonLocation
      - onlineStreamUrl
      - onlineStreamPassword
      - member
    CustomerTagsDto:
      type: object
      properties:
        type:
          enum:
          - and
          - or
          type:
          - string
          - 'null'
        tags:
          type: array
          items:
            type: integer
        customerHaveTag:
          enum:
          - have
          - not-have
          type: string
      required:
      - type
      - tags
    HostMemberDto:
      type: object
      properties:
        id:
          type: integer
          example: 5
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        email:
          type: string
          example: john.doe@mail.example.com
        phoneNumber:
          type:
          - string
          - 'null'
          example: '1234567890'
        pictureUrl:
          type:
          - string
          - 'null'
          example: https://example.com/picture.jpg
        firstSeen:
          type: string
          example: '2021-01-01T00:00:00Z'
          format: date-time
        lastSeen:
          type: string
          example: '2021-01-01T00:00:00Z'
          format: date-time
        visits:
          $ref: '#/components/schemas/MemberVisitsDto'
        customerFields:
          type: array
          items:
            $ref: '#/components/schemas/HostMemberCustomerFieldDto'
        customerTags:
          type: array
          items:
            $ref: '#/components/schemas/HostTagDto'
      required:
      - id
      - firstName
      - lastName
      - email
      - phoneNumber
      - pictureUrl
      - firstSeen
      - lastSeen
      - visits
      - customerFields
      - customerTags
    TeacherIdDto:
      type: object
      properties:
        teacherId:
          type: integer
      required:
      - teacherId
    HostCustomersListFilterDto:
      type: object
      properties:
        type:
          enum:
          - and
          - or
          type: string
        joinedSince:
          type: string
        lastContacted:
          $ref: '#/components/schemas/LastContactedDto'
        visits:
          $ref: '#/components/schemas/VisitsDto'
        address:
          $ref: '#/components/schemas/AddressDto'
        futureBookings:
          $ref: '#/components/schemas/FutureBookingsDto'
        memberships:
          type: array
          items:
            $ref: '#/components/schemas/MembershipFilterDto'
        customerAge:
          $ref: '#/components/schemas/CustomerAgeDto'
        customFields:
          $ref: '#/components/schemas/CustomFieldsDto'
        customerTags:
          $ref: '#/components/schemas/CustomerTagsDto'
        homeLocations:
          type: array
          items:
            $ref: '#/components/schemas/HomeLocationDto'
        parentsChildren:
          type: array
          items:
            type: string
            enum:
            - parents
            - children
            - non-children
        customerRankings:
          $ref: '#/components/schemas/CustomerRankingsDto'
      required:
      - type
    ApiV2HostMembershipDto:
      type: object
      properties:
        id:
          type: integer
          example: 5
        name:
          type: string
          example: Monthly Membership
        description:
          type:
          - string
          - 'null'
          example: Monthly membership with unlimited access to <b>all</b> classes.
        type:
          enum:
          - subscription
          - on-demand-subscription
          - package-events
          - package-money
          - patron
          type: string
          example: subscription
          x-enumNames:
          - Subscription
          - OnDemandSubscription
          - PackageEvents
          - PackageMoney
          - Patron
        locationId:
          type:
          - integer
          - 'null'
          example: null
        disabled:
          type: boolean
          description: Indicates that the membership was disabled and shouldn't be shown
          example: false
        autoRenewing:
          type: boolean
          description: Indicates that membership renews after specific interval
          example: true
        minimumAutoRenews:
          type:
          - integer
          - 'null'
          description: How many times membership has to renew before user can cancel renewal
          example: null
        eventCredits:
          type:
          - integer
          - 'null'
          description: For PACKAGE_EVENTS memberships, defines how many event credits are included
          example: null
        moneyCredits:
          type:
          - number
          - 'null'
          description: For PACKAGE_MONEY memberships, defines how much money is included
          example: null
        duration:
          type:
          - integer
          - 'null'
          description: For SUBSCRIPTION this is auto renew duration, for PACKAGE_* this is expiration time
          example: 1
        durationUnit:
          enum:
          - days
          - months
          - years
          type:
          - string
          - 'null'
          example: months
          x-enumNames:
          - DAYS
          - MONTHS
          - YEARS
        isActivatedOnFirstUse:
          type: boolean
          description: If set to false, membership is activated upon purchase. When set to true, membership is activated at the moment of the first purchase. When the purchase is for booking in the future, the activation date is set to the booking date.
          example: false
        activationDeadlineInDays:
          type:
          - integer
          - 'null'
          description: Only applicable when isActivatedOnFirstUse=true. If set, the member must activate the membership within this many days of purchase or it expires automatically.
          example: 21
        hasFreeTrial:
          type: boolean
          example: false
        freeTrialDurationInDays:
          type: integer
          example: 7
        contractAgreement:
          type:
          - string
          - 'null'
          example: Contract agreement text
        order:
          type: integer
          example: 1
        isIntroOffer:
          type: boolean
          example: false
        usageLimitForSessions:
          type:
          - number
          - 'null'
          description: Only applicable for SUBSCRIPTION. Maximum number of sessions customer can book with this membership during one renewal period, not used when combinedUsageLimitEnabled=true
          example: 5
        usageLimitForAppointments:
          type:
          - number
          - 'null'
          description: Only applicable for SUBSCRIPTION. Maximum number of appointments customer can book with this membership during one renewal period, not used when combinedUsageLimitEnabled=true
          example: 2
        combinedUsageLimitEnabled:
          type: boolean
          description: Only applicable for SUBSCRIPTION. The usage limits of the memberships are applied to sum of both bookings and appointments.
          example: false
        combinedUsageLimit:
          type:
          - number
          - 'null'
          description: Only applicable for SUBSCRIPTION. Combined maximum number of bookings and appointments customer can book with this membership during one renewal period, only used when combinedUsageLimitEnabled=true
          example: null
        usageLimitRenewalEnabled:
          type: boolean
          description: Only applicable for SUBSCRIPTION. Calculate usage limits differently to renewal duration.
          example: false
        usageLimitRenewalDuration:
          type:
          - number
          - 'null'
          description: Only applicable for SUBSCRIPTION. Interval for which the usage limits are calculated, only used when usageLimitRenewalEnabled=true
          example: null
        usageLimitRenewalDurationUnit:
          enum:
          - days
          - months
          - years
          type:
          - string
          - 'null'
          description: Only applicable for SUBSCRIPTION. Interval for which the usage limits are calculated, only used when usageLimitRenewalEnabled=true
          example: null
          x-enumNames:
          - DAYS
          - MONTHS
          - YEARS
        usageLimitRolloverEnabled:
          type: boolean
          description: Only applicable for SUBSCRIPTION. When true and customer doesn't use reach their usage limits, the rest is transferred to the customer according to usageLimitRolloverMode
          example: false
        usageLimitRolloverMode:
          enum:
          - next-renewal
          - event-credits
          type:
          - string
          - 'null'
          description: Only applicable for SUBSCRIPTION. How should extra usage limits be transferred to customer, either as package or as addition to next renewal period. Only used when usageLimitRolloverEnabled=true
          example: null
          x-enumNames:
          - NEXT_RENEWAL
          - EVENT_CREDITS
        usageLimitRolloverExpirationDuration:
          type:
          - number
          - 'null'
          description: Only applicable for SUBSCRIPTION. When should the extra limits / package expire after rolling over. Only used when usageLimitRolloverEnabled=true
          example: null
        usageLimitRolloverExpirationDurationUnit:
          enum:
          - days
          - months
          - years
          type:
          - string
          - 'null'
          description: Only applicable for SUBSCRIPTION. When should the extra limits / package expire after rolling over. Only used when usageLimitRolloverEnabled=true
          example: null
          x-enumNames:
          - DAYS
          - MONTHS
          - YEARS
        startDate:
          type:
          - string
          - 'null'
          description: Explicit start date for memberships that have specific duration
          example: '2022-01-01T00:00:00Z'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          description: Explicit end date for memberships that have specific duration
          example: '2022-02-01T00:00:00Z'
          format: date-time
        featured:
          type: boolean
          description: Indicates that membership should be featured on checkout
          example: false
        priceType:
          enum:
          - fixed-price
          - dynamic
          type: string
          example: fixed-price
          x-enumNames:
          - FIXED
          - DYNAMIC
        price:
          type:
          - number
          - 'null'
          description: Membership price for FIXED priceType
          example: 955
        minimumPrice:
          type:
          - number
          - 'null'
          description: Minimum membership price for DYNAMIC priceType
          example: null
        maximumPrice:
          type:
          - number
          - 'null'
          description: Maximum membership price for DYNAMIC priceType
          example: null
        recommendedPrice:
          type:
          - number
          - 'null'
          description: Recommended membership price for DYNAMIC priceType
          example: null
        priceIncludesTax:
          type: boolean
          description: Indicates if tax is already included in the price
          example: true
        taxRateInPercent:
          type:
          - number
          - 'null'
          description: Tax rate in percents
          example: 20
        freeTrialPrice:
          type: number
          description: Free trial price
          example: 199
        tags:
          type: array
          items:
            $ref: '#/components/schemas/HostTagDto'
      required:
      - id
      - name
      - description
      - type
      - locationId
      - disabled
      - autoRenewing
      - minimumAutoRenews
      - eventCredits
      - moneyCredits
      - duration
      - durationUnit
      - isActivatedOnFirstUse
      - activationDeadlineInDays
      - hasFreeTrial
      - freeTrialDurationInDays
      - contractAgreement
      - order
      - isIntroOffer
      - usageLimitForSessions
[...]
